.imagen-monumento{
    width: 100px;
    height: 100px;
}

hr{
    margin: 100px 0 !important;
}

div.carousel-item{
    height: 50%;
}

div.carousel-item img{
    height: 50%;

/* se usa para especificar como se debe cambiar el tamaño de la imagen para que que se ajuste a su contenedor*/

    object-fit: cover;

    /* 

    top -arriba
    center- centrado
    left - izq
    right - derecha
    bottom - abajo */

    object-position: center;
}
 
#carrusel-principal{
    width: 60%;
}

footer{
    background-color: black;
    color: white;
}
